# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore IDE project files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled C++ files
*.o
*.out
*.exe

# Ignore logs
*.log
